# Technology for AI agents (Python libraries)
langchain
langchain-core
langchain-community

# LLM PROVIDER
langchain-groq
langchain-text-splitters

# Vector store
faiss-cpu
langchain-qdrant
qdrant-client

# Embeddings
jinaai

# Document processing
pypdf
python-docx

# Database / Storage
supabase

# Notebook
jupyter
ipykernel

# Web app
streamlit

# LLM gateways
portkey-ai
langchain-openai

# Evaluations
openevals

# Dot-env
python-dotenv